{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    {% include 'shop/includes/billboard.html' %}
    {% include 'shop/includes/features.html' %}
    {% include 'shop/includes/categories.html' %}
    {% include 'shop/includes/new-arrivals.html' %}
    {% include 'shop/includes/collection.html' %}
    {% include 'shop/includes/best-sellers.html' %}
    {% include 'shop/includes/video.html' %}
    {% include 'shop/includes/testimonials.html' %}
    {% include 'shop/includes/related-products.html' %}
    {% include 'shop/includes/blog.html' %}
    {% include 'shop/includes/logo-bar.html' %}
    {% include 'shop/includes/newsletter.html' %}
    {% include 'shop/includes/instagram.html' %}
{% endblock %}