
{% extends "shop/base.html" %}
{% load static %}

{% block title %}{{ product.name }} - JavidNam Center{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid product-detail-img" alt="{{ product.name }}" style="width: 100%; height: 400px; object-fit: contain;">
        {% endif %}
      </div>
      <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p class="fs-3 text-primary">{{ product.price }} تومان</p>
        <p>{{ product.description|linebreaks }}</p>
        <div class="d-flex gap-3 mt-4">
          <a href="{% url 'shop:cart_add' product.id %}" class="btn btn-dark text-uppercase">افزودن به سبد خرید</a>
          <a href="{% url 'shop:product_list' %}" class="btn btn-outline-secondary text-uppercase">بازگشت</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}