{% load static %}
<section class="collection bg-light position-relative py-5">
    <div class="container">
        <div class="row">
            <div class="title-xlarge text-uppercase txt-fx domino">مجموعه</div>
            <div class="collection-item d-flex flex-wrap my-5">
                <div class="col-md-6 column-container">
                    <div class="image-holder">
                        <img src="{% static 'images/single-image-2.jpg' %}" alt="collection" class="product-image img-fluid">
                    </div>
                </div>
                <div class="col-md-6 column-container bg-white">
                    <div class="collection-content p-5 m-0 m-md-5">
                        <h3 class="element-title text-uppercase">مجموعه ویژه زمستان</h3>
                        <p>بهترین محصولات زمستانی با کیفیت عالی و تخفیف‌های ویژه. فرصت را از دست ندهید!</p>
                        <a href="{% url 'shop:product_list' %}" class="btn btn-dark text-uppercase mt-3">مشاهده مجموعه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>