{% load static %}
<section class="instagram position-relative">
    <div class="d-flex justify-content-center w-100 position-absolute bottom-0 z-1">
        <a href="https://www.instagram.com/" class="btn btn-dark px-5">ما را در اینستاگرام دنبال کنید</a>
    </div>
    <div class="row g-0">
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item1.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item2.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item3.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item4.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item5.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="#" target="_blank">
                    <img src="{% static 'images/insta-item6.jpg' %}" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>